.section{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #00192B;
    min-height: 100vh;
    margin-top: 6em;
}

.container{
    max-width: 1200px;
}

.container h1{
    padding: 20px 0;
    font-size: 2.5em;
    color: #fff;
    border-bottom: solid 5px #073D5B;
    max-width: 300px;
}

.sobre>p{
    font-weight: 300;
    font-size: 1.5em;
    margin-top: 1em;
    line-height: 1.5;
}

.hard_skills{
    margin: 5em 0;
}

.hard_skills ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3em;
}

.hard_skills ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hard_skills ul li img{
    max-width: 8em;
}

@media screen and (max-width: 1200px){
    
    .container{
        padding: 2em;
    }
    
}

@media screen and (max-width: 700px){
    .container h1{
        font-size: 2.2em;

    }

}

@media screen and (max-width: 500px){
    .sobre>p{
        font-size: 1.3em;

    }

}
