.mobile_menu{
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: #073e5be1;
    display: flex;
    justify-content: center;
    animation-name: opacity-reverse;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    
}

.mobile_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-weight: 300;
}

.mobile_item{
    padding: 1em;
    border-bottom: solid 1px #ffffff36;
}

.mobile_item a{
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5em;
}

.close{
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 1.8em;
    color: #fff;
}

@keyframes opacity-reverse {
    from{
        opacity: 1;
        visibility: visible;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}


@media screen and (max-width: 500px){

@keyframes opacity {
    from{
        opacity: 0;
        visibility: hidden;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}

    .visivel{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        overflow: hidden;
        animation-name: opacity;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        
    }

}

